body {
    font-family: Inter, BlinkMacSystemFont, -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;    
    font-size: 0.9rem;
    line-height: 1.5;
    color: rgb(36, 41, 47);
}
